.container {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 10px;
}

.navItem {
	background-color: transparent;
	border: none;
	outline: none;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	padding: 8px;
	cursor: pointer;
}

.navItem svg {
	height: 24px;
	width: 24px;
}

.navItem:hover,
.navItem:active {
	background-color: rgba(0, 0, 0, 0.15);
}

.favoriteIcon {
	display: none;
}

@media screen and (min-width: 960px) {
	.searchIcon {
		padding: 8px;
		padding-right: 150px;
		border-radius: 20px;
		background-color: rgba(0, 0, 0, 0.05);
		position: relative;
		cursor: text;
		order: -1;
	}
	.searchIcon::before {
		content: 'Search';
		position: absolute;
		top: 12px;
		left: 40px;
		font-size: 16px;
		line-height: 16px;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.25);
	}

	.searchIcon:hover {
		background-color: rgba(0, 0, 0, 0.15);
	}

	.searchIcon:hover::before {
		color: rgba(0, 0, 0, 0.5);
	}

	.favoriteIcon {
		display: flex;
	}

	.menuIcon {
		display: none;
	}
}
