.container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
}

.searchBarContainer {
	width: 100%;
	height: 60px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
}

.searchBarForm {
	width: 24px;
	height: 40px;
	padding-left: 50px;
	background-color: #e5e5e571;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	align-items: center;
	position: relative;

	animation: 500ms ease-out 0s 1 expand;
	animation-fill-mode: forwards;
}

.searchBarForm:hover {
	background-color: #cdcaca6a;
}

.searchBarForm:hover .searchBarInput::placeholder {
	color: rgba(108, 108, 108, 0.781);
}

.searchBarInput {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background-color: transparent;

	font-size: 16px;
	line-height: 16px;
}

.searchBarInput::placeholder {
	color: rgba(128, 127, 127, 0.514);
}

.btn {
	background-color: transparent;
	border: none;
	outline: none;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	padding: 8px;
	cursor: pointer;
}

.searchBtn {
	position: absolute;
	left: 0px;
	top: 0px;
}

.searchBtn:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.searchBtn svg {
	height: 24px;
	width: 24px;
}

.closeBtn {
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.15);

	animation: 500ms ease-out 0s 1 opacity;
	animation-fill-mode: forwards;
}

.closeBtn svg {
	height: 12px;
	width: 12px;
}

.submitBtn {
	visibility: hidden;
}

@keyframes expand {
	0% {
		width: 24px;
	}
	100% {
		width: 100%;
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
